.top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    width: 100%;
    padding: 16px 0 16px 0;
    top: 0;
}

.logo {
    width: 2.0rem;
    height: 2.0rem;
    margin-right: 16px;
}

.logoAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    white-space: nowrap;
}

p {
    margin: 0px;
}

.separator {
    color: lightgray;
}

.navBarItems {
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}

.navBarItems li {
    padding: 0px 10px 0px 10px;
}
