.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 100%;
}


.logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 16px;
}
