.card {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #eeeeee;
}

.image img {
  max-width: 100%;
}

.imageMetadata {
}

.imageMetadata li {
  list-style: none;
}

.imageActions {
  display: flex;
  justify-content: center;
}

.imageActions a {
  padding: 10px;
  filter: opacity(0.4);
}
