button {
  background-color: black;
  border-radius: 4px;
  color: white;
  margin: 30px 0px 30px 0px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  outline-offset: 4px;
}
