body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px 0px 0px 0px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.ag-theme-quartz {
  .ag-cell {
    white-space: pre-wrap;
  }
}

