.logo {
  width: 2.0rem;
  height: 2.0rem;
  margin-right: 16px;
}

.logoAndText {
  margin: 20px 0px 20px 0px;
  padding: 0 200px 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  white-space: nowrap;
}

.footer {
  margin-top: auto;
}

.footer h3 {
  margin: 20px 0px 20px 0px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f4f4;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
}

/* unvisited link */
.footer a:link {
  color: #333;
  text-decoration: none;
}

/* visited link */
.footer a:visited {
  color: #333;
  text-decoration: none;
}

/* mouse over link */
.footer a:hover {
  color: #333;
  text-decoration: none;
}

/* selected link */
.footer a:active {
  color: #333;
  text-decoration: none;
} 

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
