.container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  justify-content: center;

  margin: 10px;
  padding: 10px;
}

.subContainer {
  width: 75%;
}

.container > p {
  font-size: 1rem;
}

.container > em {
  font-size: 0.8rem;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #bbbbbb;
  border-style: dashed;
  background-color: #eaeaea;
  color: #adadad;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone:hover {
  border-color: #8bc8ff;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}

.thumbsContainer {
  display: "flex";
  flexdirection: "row";
  flexwrap: "wrap";
  margintop: 16;
  backgroundcolor: red;
}

.thumb {
  display: "inline-flex";
  borderradius: 2;
  border: "1px solid #eaeaea";
  marginbottom: 8;
  marginright: 8;
  width: 100;
  height: 100;
  padding: 4;
  boxsizing: "border-box";
}

.thumbInner {
  display: "flex";
  minwidth: 0;
  overflow: "hidden";
}

.img {
  display: "block";
  width: "auto";
  height: "100%";
}

.itemList {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/*Janky*/
.itemList h4 {
  margin: 0px;
  padding: 0 0 0 24px;
}

.itemList ul {
  margin: 0px;
  white-space: nowrap;
}
