.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.container > p {
  font-size: 1rem;
}

.container > em {
  font-size: .8rem;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}



.thumbsContainer {
  display: 'flex';
  flexDirection: 'row';
  flexWrap: 'wrap';
  marginTop: 16;
  backgroundColor: red;
}

.thumb {
  display: 'inline-flex';
  borderRadius: 2;
  border: '1px solid #eaeaea';
  marginBottom: 8;
  marginRight: 8;
  width: 100;
  height: 100;
  padding: 4;
  boxSizing: 'border-box';
}

.thumbInner {
  display: 'flex';
  minWidth: 0;
  overflow: 'hidden';
}

.img {
  display: 'block';
  width: 'auto';
  height: '100%';
}
