.landPage {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  margin:0 20% 0 20%;
  text-align:justify;
  text-justify:inter-word;
}

.speal {
  font-size:36px;
}

.horizontalize {
  display: flex;
  flex-direction: row;
}

.bigLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:20px;
}

