name: Build Image
permissions: read-all

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    outputs:
      image_digest:
        description: "Digest of the built image"
        value: ${{ jobs.push_to_registry_env.outputs.image_digest }}

jobs:
  push_to_registry_env:
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      image_digest: ${{ steps.build.outputs.digest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5
        with:
          images: willnilges/meshforms
      
      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: willnilges/meshforms:${{ inputs.environment }}
          labels: ${{ steps.meta.outputs.labels }}
