name: Run Production Build

on: [pull_request]

permissions: read-all

jobs:
  npm-run-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install Dependencies 
        run: npm ci
      - name: Build Next.js app
        env:
          MESHDB_URL: http://127.0.0.1:8000/
        run: npm run build
        # XXX (willnilges): We should maybe set up real integration tests.
