name: Checkov

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '32 9 * * 6'
  workflow_dispatch:

permissions: read-all

jobs:
  checkov-job:
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: none
    runs-on: ubuntu-latest
    name: checkov-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@d146511ffb733a9a456c9ffc05cd462122037354
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@4e94bd11f71e507f7f87df81788dff88d1dacbfb # v3
        if: success() || failure()
        with:
          sarif_file: results.sarif
