name: Playwright Tests Without S3
permissions: read-all
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    name: Run Playwright Tests Without S3
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
      with:
        node-version: lts/*
    # Notably, we are NOT adding S3 here
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: RUN_SKIPPED=true npx playwright test -g 'fail meshdb is hard down and s3 is hard down'
      env:
        MESHDB_URL: https://127.0.0.1:8000 # Throwaway to make the mock work
        # We now check the JoinRecord stuff, so submit that too.
        JOIN_RECORD_BUCKET_NAME: meshdb-join-form-log
        JOIN_RECORD_PREFIX: dev-join-form-submissions
        S3_ENDPOINT: http://127.0.0.1:9000
        AWS_ACCESS_KEY_ID: sampleaccesskey 
        AWS_SECRET_ACCESS_KEY: samplesecretkey
        AWS_REGION: us-east-1
        RUM_APPLICATION_ID: fake
        RUM_CLIENT_TOKEN: alsofake
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
