name: Prettier
permissions: read-all
on: [pull_request]

jobs:
  test:
    name: Check Formatting with Prettier
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run Prettier Check
        run: npx prettier . --check
