name: Prettier
permissions: read-all
on: [pull_request]

jobs:
  test:
    name: Check Formatting with Prettier
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run Prettier Check
        run: npx prettier . --check
