name: Prettier
permissions: read-all
on: [pull_request]

jobs:
  test:
    name: Check Formatting with Prettier
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run Prettier Check
        run: npx prettier . --check
