name: Publish and Deploy (Gamma)
permissions: read-all

on:
  push:
    branches: [ dev ]
  workflow_dispatch:
    branches:
      - dev

jobs:
  push_to_registry_gamma:
    name: Push to gamma1
    uses: ./.github/workflows/build-push-image.yaml
    with:
      environment: gamma1
    secrets: inherit
    if: github.ref == 'refs/heads/main'

  deploy_to_gamma1:
    name: Deploy to gamma1
    uses: ./.github/workflows/deploy-to-k8s.yaml
    with:
      environment: gamma1
    secrets: inherit
    needs: push_to_registry_gamma
    if: github.ref == 'refs/heads/main'
